{% extends "base.html" %}
{% block content %}
{% import 'macros.html' as macros %}

<div class="row title-bar">
    <div class="small-12 columns">
	<h1><a href="{{ SITEURL }}">{{ AUTHOR }}</a></h1>
	<h2> <small>{{ SITESUBTITLE }}</small></h2>
	<hr>
    </div>
</div>

            
<div class="row carousel-row">
   {% if CAROUSEL %}
   <div class="small-11 small-centered columns">
        <div class="carousel">
             {% for name, src, url in CAROUSEL %}
             <div class="carousel-img"><a class="th" href="{{ url }}"><img src="{{ src }}"></a></div>
             {% endfor %}
        </div>
        <div class="carousel-nav">
             {% for name, src, url in CAROUSEL %}
	     <div class="carousel-nav-title"><a href="{{ url }}">{{ name }}</a></div>
             {% endfor %}
         </div>
    </div>
    {% endif %}
</div>

<div class="row">
    {% if articles|length >= 1 %}
    <div class="small-12 medium-12 columns">
        {{ macros.article_summary(articles[0],SITEURL,True,disqus=DISQUS_SITENAME) }}
    </div>
    {% endif %}
    {% if articles|length >= 2 %}
    <div class="small-12 {%if articles|length > 2%}medium-6{%endif%} columns small-articles">
        {{ macros.article_summary(articles[1],SITEURL,False,False,disqus=DISQUS_SITENAME) }}
    </div>
    {% endif %}
    {% if articles|length >= 3 %}
    <div class="small-12 medium-6 columns small-articles">
        {{ macros.article_summary(articles[2],SITEURL,False,False,disqus=DISQUS_SITENAME) }}
    </div>
    {% endif %}
</div>
{% if articles|length > 3 %}
<div class="row">
    <div class="small-12 columns">
        <a class="button" href="{{ SITEURL }}/archives.html">Older Articles&hellip;</a>
    </div>
</div>
{% endif %}
{% endblock content %}
